{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
<script>alert('index wrong');</script>
<div class='col-md-8 col-sm-8 col-xs-12'>
    <div class='box bigbox'>
        <div class='layer-img'>
            <a><img class='illustration' src='img/test/test2.jpg' /></a>
        </div>
        <div class='item-caption'>
            <h3>titre article</h3>
            <h4>more information about this article</h4>
        </div>
    </div>
</div>
<div class='col-md-4 col-sm-4 col-xs-12'>
    <div class='row'>
        <div class='col-md-12 col-sm-12 col-xs-6'>
            <div class='box smallbox'>
                <div class='layer-img'>
                    <a><img class='illustration' src='img/test/test3.jpg' /></a>
                </div>
                <div class='item-caption'>
                    <h3>titre article</h3>
                    <h4>more information about this article</h4>
                </div>
            </div>
        </div>
        <div class='col-md-12 col-sm-12 col-xs-6'>
            <div class='box smallbox'>
                <div class='layer-img'>
                    <a><img class='illustration' src='img/test/test2.jpg' /></a>
                </div>
                <div class='item-caption'>
                    <h3>titre article</h3>
                    <h4>more information about this article</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='col-md-4 col-sm-4 col-xs-12'>
    <div class='row'>
        <div class='col-md-12 col-sm-12 col-xs-12'>
            <div class='box smallbox'>
                <div class='item-caption'>
                    NEWS
                </div>
            </div>
        </div>
        <div class='col-md-12 col-sm-12 col-xs-12'>
            <div class='box smallbox'>
                <div class='layer-img'>
                    <a><img class='illustration' src='img/test/test7.jpg' /></a>
                </div>
                <div class='item-caption'>
                    <h3>titre article</h3>
                    <h4>more information about this article</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='col-md-8 col-sm-8 col-xs-12'>
    <div class='box bigbox smallbox'>
        <div class='layer-img'>
            <a><img class='illustration' src='img/test/test4.jpg' /></a>
        </div>
        <div class='item-caption'>
            <h3>titre article</h3>
            <h4>more information about this article</h4>
        </div>
    </div>
</div>
<div class='col-md-12'>
    <div class='row'>
        <div class='col-md-4 col-sm-4 col-xs-6'>
            <div class='box smallbox'>
                <div class='layer-img'>
                    <a><img class='illustration' src='img/test/test1.jpg' /></a>
                </div>
                <div class='item-caption'>
                    <h3>titre article</h3>
                    <h4>more information about this article</h4>
                </div>
            </div>
        </div>
        <div class='col-md-4 col-sm-4 col-xs-6'>
            <div class='box smallbox'>
                <div class='layer-img'>
                    <a><img class='illustration' src='img/test/test2.jpg' /></a>
                </div>
                <div class='item-caption'>
                    <h3>titre article</h3>
                    <h4>more information about this article</h4>
                </div>
            </div>
        </div>
        <div class='col-md-4 col-sm-4 col-xs-12'>
            <div class='box smallbox'>
                <div class='layer-img'>
                    <a><img class='illustration' src='img/test/test4.jpg' /></a>
                </div>
                <div class='item-caption'>
                    <h3>titre article</h3>
                    <h4>more information about this article</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
