{% extends "base.html" %}

{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags pages_tags staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/blog.css" %}">
{% endblock %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}Articles{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Blog" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if category %}
    {% trans "Category:" %} {{ category }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}


{% block main %}

<div id='contentNav_layer'>
    <nav id='contentNav' class="navbar navbar-default">
        <div id='logo_deploy'><img src='{% static 'img/logo_small.png' %}' alt='logo XXL' /></div>
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav2">
                    <span class="sr-only">{% trans "Toggle Navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="nav2">
                <form action='/search/' class="navbar-form navbar-right" role="search">
                    {% search_form %}
                </form>
                <ul class="nav navbar-nav">
                    <li class="{% if not category %}active{% endif %}">
                        <a href="/">ALL</a>
                    </li>
                    {% for cat in category_all %}
                    {% if cat.title != 'Digital' and cat.title != 'digital' and cat.title != 'DIGITAL' %}
                            <li class="{% if cat == category %}active{% endif %}">
                                <a href="{% url "blog_post_list_category" cat.slug %}">{{ cat.title|upper }} </a>
                            </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div> <!-- ./#contentNav_layer -->

<!-- /block blog_main -->
{% block blog_main %}
    <h3>BLOCK "blog_main"</h3>
{% endblock %} 
<div class='text-center'>
{% pagination_for blog_posts %}
</div>
<!-- ./block blog_main -->
{% endblock %} 

{% block right_panel %}
{% include "blog/includes/filter_panel.html" %}
{% endblock %}
