@charset "UTF-8";
/*
    purple: rgb(82,51,111);
    blue: rgb(61,62,127);
    orange: rgb(205,97,0);
    lightPurple: rgb(124,108,148);
*/

h2{
    color: rgb(124,108,148);
}
@media screen and (min-width: 768px) {
    #nav2{
        position: relative;
        top: 1px;
        letter-spacing: 0;
        padding: 0;
    }
}


#search-btn{
    background-color: rgb(124,108,148);
}
#search-btn a{
    padding: 25px;
    border-bottom: 5px solid rgb(124,108,148);
}#search-btn a i{
    color: white;
}

.pagination>li>a, .pagination>li>span{
	color: rgb(124,108,148);
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background-color: rgb(124,108,148);
	border-color: rgb(124,108,148);
}

#blog_detail img{
    display: block;
    padding: 30px 0 30px 0;
    margin: auto;
}
#blog_detail .img_responsive_layer{
    width: 100%;
    max-height: 220px;
    overflow: hidden;
}
#blog_detail .img-responsive{
    width: 100%;
    margin: auto;
}
#blog_detail .img-thumbnail{
    padding: 4px;
    border-radius: 0;
}
