@charset "UTF-8";

/*
    purple: rgb(82,51,111);
    blue: rgb(61,62,127);
    orange: rgb(205,97,0);
    lightPurple: rgb(124,108,148);
*/

body{
    background-color: white;
    font-family: 'Lato', sans-serif;
    color: #333;
}

h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
}

a{
    color: rgb(124,108,148);
}
a:hover,a:visited{
    color: rgb(124,108,148);
    text-decoration: none;
}
iframe{
    display: block;
    padding: 20px;
    margin: auto;
    border: none;
}

#navBorder{
    height: 6px;
    background-color: rgba(82,51,111,.85);
    margin-bottom: 15px;
}

#pubLayer{
    position: absolute;
    width: 100%;
    min-height: 1250px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center top;
}
.on .shadowForContainer{
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,.2);
}

#main{
    position: relative;
    z-index: 19;
    /*overflow: hidden;*/
    margin-bottom: 50px;
    background-color: white;
    line-height: 25px;
    letter-spacing: 1px;
}
#main.pubOn{
    max-width: 970px;
    margin-top: 150px;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,.2);
}
#main.pubOff{
    margin-top: 80px;
}
#main img{
    max-width: 100%;
    max-height: 500px;
}
#nav2{
    position: relative;
    top: 1px;
    letter-spacing: 0;
}

.box{
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f8f8f8;
    border: 1px solid rgba(0,0,0,.065);
    border-bottom: 1px solid #cad1d7;
    border-radius: 0 0 3px 3px;
}
#contentRow{
    padding-bottom: 15px;
}
.smallbox{
    height: 220px;
}
.bigbox{
    height: 470px;
}
#pubRow .smallbox, #pubRow .bigbox{
    height: auto;
}
#pubRow .box img{
    max-width: 100%;
}

#pubRow{
    border-left: 1px dashed;
    border-color: rgb(200,200,200);
    text-align: center;
}

.layer-img{
	position: relative;
    overflow: hidden;
}.layer-img img{
    width: 100%;
}
#contentRow .smallbox .layer-img{
	height: 130px;
}#contentRow .bigbox .layer-img{
	height: 380px;
}
.arrow{
	position: absolute;
	bottom: 0;
	left: 25px;
}
.illustration{
    position: relative;
    min-width: 100%;
    min-height: 100%;
    transition: all .4s ease-in-out;
    /*transform: scale(1);*/
}
#contentRow .layer-img:hover img{
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.item-caption{
    height: 90px;
    padding: 10px;
    line-height: normal; 
    letter-spacing: 0;
}
.item-caption h3{
    margin: 0;
    font-size: 14px;
    color: rgb(124,108,148);
}.item-caption h4{
    display: inline-block;
    margin: 2px 6px 0 0;
    font-size: 12px;
    color: rgba(124,108,148,.7);
}
#layer_revue .box{
    background-color: white;
}
#layer_revue .item-caption{
    height: 30px;
    padding: 5px;
    height: auto;
    color: rgb(124,108,148);
}

footer{
    padding-top: 15px;
    background-color: #f8f8f8;
    border-top: 1px solid rgb(220,220,220);
}
.nav-footer{
    text-align: center;
}
footer .list-unstyled{
    vertical-align: top;
    display: inline-block;
    padding: 10px 15px;
}
footer .list-unstyled li{
    padding-bottom: 10px;
}
