@charset "UTF-8";

/*
    purple: rgb(82,51,111);
    blue: rgb(61,62,127);
    orange: rgb(205,97,0);
    lightPurple: rgb(124,108,148);
*/

@media screen and (max-width: 991px){
    #pubRow{
        padding-top: 15px;
        border-left: 0;
        border-top: 1px dashed;
        border-color: rgb(200,200,200);
    }
}

@media screen and (max-width: 768px){
    .bigbox{
        height: 330px;
    }
    #contentRow .smallbox .layer-img{
        height: 130px;
    }#contentRow .bigbox .layer-img{
        height: 260px;
    }

    .navbar-collapse{
        padding-left: 15px;
    }
    .navbar-nav>li>a{
        padding: 10px 15px ;
    }
    .form-control{
        width: 33%;
        min-width: 200px;
    }



}